
<%- include("partials/header"); -%>
<header class="bg-light text-center py-4">
  <h1 class="text-dark">How to study in US for free</h1>
</header>
  


  <%  posts.forEach(function(post){ %>
    <div class="card mx-4 my-3">
      <div class="card-body">
        <h1><%=post.title%></h1>
        <p>
        <%=post.content.substring(0, 500) + " ..."%>
        <a href="/posts/<%=post.title%>">Read More</a>
        </p>
      </div>

    </div>

  


    <% }) %>


<%- include("partials/footer"); -%>
