
<%- include("partials/header"); -%>
<header class="bg-light text-center py-4">
  <h1 class="text-dark">How to study in US for free</h1>
</header>
  


  <%  posts.forEach(function(posts){ %>
    <div class="card mx-4 my-3">
      <div class="card-body">
        <h1><%=posts.articleTitle%></h1>
        <p>
        <%=posts.articleContent.substring(0, 500) + " ..."%>
        <a href="/articles/<%=posts.articleTitle%>">Read More</a>
        </p>
      </div>

    </div>

  


    <% }) %>


<%- include("partials/footer"); -%>
