<%- include("partials/header"); -%>
<div class="card mx-4 my-4">
  <div class="card-body">
    <div class="card-title">
      <h1><%=title%></h1>
    </div>
    <div class="card-text">
      <p><%=content%></p>

    </div>
  </div>
</div>
    
    
<%- include("comment"); -%>

<%- include("partials/footer"); -%>
