<%- include("partials/header"); -%>

<div style="background-color: rgb(30, 31, 33); color: #fff; padding: 0px 16%; border-radius: 0%;" class="card">
  <div class="card-body">
    <div style="color: rgb(201, 42, 70); padding-top: 2%;" class="card-title">
      <h1 style="color: rgb(201, 42, 70);"><%- posts.articleTitle%></h1>
    </div>
    <div  style="color: rgb(239, 233, 233);text-align: justify;" class="card-text">
      <p  style="color: rgb(239, 233, 233);text-align: justify; padding-top: 5%; font-size: 100px;"><%- posts.articleContent %></p>

    </div>
  </div>
</div>


<%- include("comment"); -%>

<%- include("partials/footer"); -%>
